* {
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: inherit;
}

body {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem 2rem 6rem 2rem;
  min-height: 100vh;
  color: #F6EF22;
  font-family: 'UnifrakturCook', cursive;
  font-size: 130%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 640px;
  margin: auto;
}

img {
  max-width: 100%;
}

#summon {
  background-image: url("../img/button.png");
  background-repeat: no-repeat;
  -webkit-appearance: none;
  appearance: none;
  background-size: contain;
  border: none;
  background-color: transparent;
  padding: 1rem;
  margin-bottom: 2rem;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

.hidden,
[hidden] {
  display: none !important;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

