* {
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: inherit;
}

body {
  padding: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 640px;
  margin: auto;
}

img {
  max-width: 100%;
}

#summon {
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
}

.hidden,
[hidden] {
  display: none !important;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

